# Configurações de Identidade (Azure MSAL)
VITE_AZURE_CLIENT_ID=
VITE_AZURE_TENANT_ID=
VITE_AZURE_REDIRECT_URI=

# Endpoints de API
VITE_API_SLIM_URL=
VITE_API_GAJI9_URL=
VITE_API_INTRANET_URL=
VITE_API_FORMINGA_URL=
VITE_API_CORENET_URL=
VITE_API_SUPORTE_CLIENTE_URL=

# Configurações do App
VITE_APP_TITLE=DigitalDocs
VITE_BASE_URL=https://digitaldocs.caixa.cv

# Suporte ao cliente
VITE_CONTEUDOS_PORTAL=

#Ficheiros
VITE_CODIFICACAO_FINCC=
VITE_CODIFICACAO_CARTA_PROPOSTA=JRDC.FM.C.023.00
VITE_WORD_FOOTER_INSTITUCIONAL=Caixa Económica de Cabo Verde: Sede/ Headquarters: Av. Cidade de Lisboa, Cidade da Praia | Número de Identificação Fiscal: 200131753 | Matriculada sob o n.º 336 na Conservatória do Registo Comercial da Praia | Indicativo do País/Country Code (238) | Tel: 260 36 00 | Website: www.caixa.cv | caixa@caixa.cv