@font-face {
  font-family: 'Neo Sans Std';
  font-weight: normal;
  font-style: normal;
  src: local('Neo Sans Std'), url('neo-sans-std.otf') format('opentype');
}
@font-face {
  font-family: 'Neo Sans Std';
  font-weight: bold;
  font-style: normal;
  src: local('Neo Sans Std'), url('neo-sans-std-bold.otf') format('opentype');
}